{% extends 'base.html.twig' %}

{% block title %}Application{% endblock %}

{% block body %}
    <h1>Application</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>AppCode</th>
                <td>{{ application.appCode }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ application.name }}</td>
            </tr>
            <tr>
                <th>AppGroup</th>
                <td>{{ application.appGroup }}</td>
            </tr>
            <tr>
                <th>AppType</th>
                <td>{{ application.appType }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ application.description }}</td>
            </tr>
            <tr>
                <th>AppCost</th>
                <td>{{ application.appCost }}</td>
            </tr>
            <tr>
                <th>LastModified</th>
                <td>{{ application.lastModified ? application.lastModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('application_index') }}">back to list</a>

    <a href="{{ path('application_edit', {'id': application.id}) }}">edit</a>

    {{ include('application/_delete_form.html.twig') }}
{% endblock %}
