<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link href="{{ '/assets/css/app.css' }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ path('application_index') }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Applications</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ path('application_index') }}">List all</a>
                    <a class="dropdown-item" href="{{ path('application_new') }}">Create new</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ path('app_service_index') }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">App Services</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ path('app_service_index') }}">List all</a>
                    <a class="dropdown-item" href="{{ path('app_service_new') }}">Create new</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="search-field" class="form-control mr-sm-2" type="text" placeholder="Elasticsearch in App/AppServices" aria-label="Search" size="60">
        </form>
    </div>
</nav>
<div id="search-block">

</div>
<main role="main" class="container">
    {% block body %}{% endblock %}
</main>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
{% endblock %}
</body>
</html>

